* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Nunito', sans-serif;
}

/*Photo Boxes + The Text inside*/
.Warp {
	margin: 0px 20px
}

.grid img {
	max-width: 100%;
	height: 100%;
}

.grid section {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 10px;
	clear: both;

}
.img1 {
	background-image: url(img1.jpg);
}
.img2 {
	background-image: url(img2.jpg);
}
.img3 {
	background-image: url(img3.jpg);
}
.img4 {
	background-image: url(img4.jpg);
}
.img5 {
	background-image: url(img5.jpg);
}
.img6 {
	background-image: url(img6.jpg);
}
.imgAll {
			width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	
	
}

.img1 img{
	display: none;
}
.img2 img{
	display: none;
}
.img3 img{
	display: none;
}
.img4 img{
	display: none;
}
.img5 img{
	display: none;
}
.img6 img{
	display: none;
}




.grid h1,
p {
	margin: 0;
	padding: 10px 10px 0px 10px;
	color: #3b3b3b;
}

.grid h1 {
	font-size: 17px
}

.grid p {
	font-size: 14px
}

.grid section {
	margin-top: 20px;
}



.grid {
	display: grid;

}



/*Just For The Size of Photos*/

@media only screen and (min-width: 600px) {
	


.img1 img{
	display: block;
}
	.img2 img{
	display: block;
}
		.img3 img{
	display: block;
}
			.img4 img{
	display: block;
}
			.img5 img{
	display: block;
}
			.img6 img{
	display: block;
}


	.Warp {
		margin: 0px;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 300px 300px 1fr;
		grid-template-areas:
			". box1 box2 ."
			". box3 box4 ."
			". box5 box6 ."
		;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		margin: 30px 0px;
	}

	.grid section:hover {
		box-shadow: 0 0 2px 4px rgba(173, 216, 230, 0.5);
	}

	.box1 {
		grid-area: box1;
	}

	.box2 {
		grid-area: box2;
	}

	.box3 {
		grid-area: box3;
	}

	.box4 {
		grid-area: box4;
	}

	.box5 {
		grid-area: box5;
	}

	.box6 {
		grid-area: box6;
	}

	.grid a {
		text-decoration: none;
	}

	.grid section div {
		height: 200px;

	}
}

@media only screen and (min-width: 1070px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 300px 300px 300px 1fr;
		grid-template-areas:
			". box1 box2  box3  ."
			". box4 box5  box6  ."
		;
		margin: 30px 0px;

	}

	.grid section div {
		height: 200px;

	}

}



/*Header NAV BAR and Logo*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


header li,
a,
button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #07779d;
	text-decoration: none;
}

button {
	color: white;
}

header img {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	


}

header p {
	font-weight: bold;

	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	padding: 10px;
	box-shadow: 1px 0px 10px #d3d0d0;
}

.samer {
	cursor: pointer;
	height: 48px;
	margin: 0 auto;
	display: block;
	padding: 20px

}

.contact {
	display: none;
}

.telephone {
	cursor: pointer;
	height: 40px;
	border-right: 2px black solid;
	padding-right: 30px;
}

header nav {
	margin: 0 auto;
	
}

.nav_links {
	list-style: none;

}

.nav_links li {
	display: inline-block;
	padding: 0px 3px 20px;
	
	
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #0088a9;
}

header button {
	padding: 9px 25px;
	background-color: rgba(0, 135, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

header button:hover {
	background-color: rgba(0, 135, 169, 0.8);
}


/*Header Size*/

@media only screen and (min-width: 600px) {
	.samer {
		display: none;
	}

	header img {
		display: block;
	}

	.contact {
		display: block;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 10%;
	}

	.telephone {
		cursor: pointer;
		height: 30px;
		border-right: 2px black solid;
		padding-right: 30px;
	}

	.nav_links {
		list-style: none;
		margin-right: 130px
	}

	.nav_links li {
		display: inline-block;
		padding: 0px 20px;
	}
	
	header p {
	font-weight: bold;

	border: none;
	border-radius: 0px;
	padding: 0px;
	box-shadow: 0px 0px ;
}
}

@media only screen and (min-width: 1070px) {}




/*index photo*/

.index-banner {
	width: 100%;
	height: 200px;
	background-image: url("3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;

}

.index-banner h2 {
	font-family: 'Teko', sans-serif;
	font-size: 40px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 1000;
	text-shadow: 3px 3px 8px #111;

}

.index-banner h1 {
	font-family: 'Teko', sans-serif;
	font-size: 35px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;

	line-height: 34px;

}

@media only screen and (min-width: 700px) {

.index-banner {
	height: 400px;	
}
.index-banner h2 {
	
	font-size: 100px;

}
}


/*Text i Mitten*/

.mittText {
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

.mittText p {
	font-size: 30px;
	color: black;

}


